In [1]:
import math
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
active_input_file = '../fig4/HepG2_SDOC_active_result.tsv'
active_infos = pd.read_csv(active_input_file, sep="\t", header=None)
active_infos

         0          1          2   3         4         5
0     chr1    2190000    3430000  10  0.437330  0.614114
1     chr1    3430000    5990000   0  1.050111 -0.520215
2     chr1    5990000    6040000   0  0.003852 -0.520215
3     chr1    6040000    6700000   3  0.203751  0.525532
4     chr1    6700000    7660000   0  0.222518 -0.520215
...    ...        ...        ...  ..       ...       ...
2637  chr9  136730000  136790000   0  0.006576 -0.520215
2638  chr9  136790000  136940000  34  0.024912  2.321254
2639  chr9  136940000  137120000   0  0.046040 -0.520215
2640  chr9  137120000  137280000   0  0.032555 -0.520215
2641  chr9  137280000  137550000   2  0.048803  0.775974

[2642 rows x 6 columns]

In [3]:
repress_input_file = '../fig4/HepG2_SDOC_represses_result.tsv'
repress_infos = pd.read_csv(repress_input_file, sep="\t", header=None)
repress_infos

         0          1          2  3         4         5
0     chr1    2190000    3430000  2  0.437330  0.945192
1     chr1    3430000    5990000  2  1.050111  0.838495
2     chr1    5990000    6040000  0  0.003852 -0.270799
3     chr1    6040000    6700000  0  0.203751 -0.270799
4     chr1    6700000    7660000  0  0.222518 -0.270799
...    ...        ...        ... ..       ...       ...
2637  chr9  136730000  136790000  6  0.006576  3.025970
2638  chr9  136790000  136940000  0  0.024912 -0.270799
2639  chr9  136940000  137120000  6  0.046040  2.029849
2640  chr9  137120000  137280000  9  0.032555  2.376643
2641  chr9  137280000  137550000  9  0.048803  2.177283

[2642 rows x 6 columns]

In [4]:
scores = [0, 0]
RBM25_chipseq_file_path = '/data1/lmh_data/MINE/source/HepG2/GSM3393550_RBM25_ChIP_HepG2_OPTIMAL_ppr.IDR0.02.filt.narrowPeak'
with open(RBM25_chipseq_file_path, 'r')as f:
    for line in f:
        datas = line.strip().split()
        _chrom, _start, _end = datas[0], datas[1], datas[2]
        active_tad = active_infos.loc[active_infos[3]>0].loc[active_infos[0]==_chrom].loc[active_infos[1]<=int(_start)].loc[active_infos[2]>=int(_end)]
        repress_tad = repress_infos.loc[repress_infos[3]>0].loc[repress_infos[0]==_chrom].loc[repress_infos[1]<=int(_start)].loc[repress_infos[2]>=int(_end)]
        if active_tad.loc[:,5].mean() > 0:
            scores[0] += 1
        if repress_tad.loc[:,5].mean() > 0:
            scores[1] += 1

print(scores)

[23561, 13434]

In [5]:
scores = [0, 0]
RBM25_chipseq_file_path = '/data1/lmh_data/MINE/source/HepG2/GSM3393550_RBM25_ChIP_HepG2_OPTIMAL_ppr.IDR0.02.filt.narrowPeak'
with open(RBM25_chipseq_file_path, 'r')as f:
    for line in f:
        datas = line.strip().split()
        _chrom, _start, _end = datas[0], datas[1], datas[2]
        active_tad = active_infos.loc[active_infos[3]>0].loc[active_infos[0]==_chrom].loc[active_infos[1]<=int(_start)].loc[active_infos[2]>=int(_end)]
        repress_tad = repress_infos.loc[repress_infos[3]>0].loc[repress_infos[0]==_chrom].loc[repress_infos[1]<=int(_start)].loc[repress_infos[2]>=int(_end)]
        _active_mean = active_tad.loc[:,5].mean() if len(active_tad.loc[:,5]) != 0 else 0
        _repress_mean = repress_tad.loc[:,5].mean() if len(repress_tad.loc[:,5]) != 0 else 0
        if _active_mean > _repress_mean:
            scores[0] += 1
        elif _active_mean < _repress_mean:
            scores[1] += 1

print(scores)

[16199, 11281]

In [6]:
scores = [0, 0]
HNRNPK_chipseq_file_path = '/data1/lmh_data/MINE/source/HepG2/HNRNPK_peaks.bed'
with open(HNRNPK_chipseq_file_path)as f:
    for line in f:
        datas = line.strip().split()
        _chrom, _start, _end = datas[0], datas[1], datas[2]
        active_tad = active_infos.loc[active_infos[3]>0].loc[active_infos[0]==_chrom].loc[active_infos[1]<=int(_start)].loc[active_infos[2]>=int(_end)]
        repress_tad = repress_infos.loc[repress_infos[3]>0].loc[repress_infos[0]==_chrom].loc[repress_infos[1]<=int(_start)].loc[repress_infos[2]>=int(_end)]
        _active_mean = active_tad.loc[:,5].mean() if len(active_tad.loc[:,5]) != 0 else 0
        _repress_mean = repress_tad.loc[:,5].mean() if len(repress_tad.loc[:,5]) != 0 else 0
        if _active_mean > _repress_mean:
            scores[0] += 1
        elif _active_mean < _repress_mean:
            scores[1] += 1
        
print(scores)

[9146, 7310]

In [7]:
scores = [0, 0]
AGO2_chipseq_file_path = '/data1/lmh_data/MINE/source/HepG2/AGO2_peaks.bed'
with open(AGO2_chipseq_file_path)as f:
    for line in f:
        datas = line.strip().split()
        _chrom, _start, _end = datas[0], datas[1], datas[2]
        active_tad = active_infos.loc[active_infos[3]>0].loc[active_infos[0]==_chrom].loc[active_infos[1]<=int(_start)].loc[active_infos[2]>=int(_end)]
        repress_tad = repress_infos.loc[repress_infos[3]>0].loc[repress_infos[0]==_chrom].loc[repress_infos[1]<=int(_start)].loc[repress_infos[2]>=int(_end)]
        _active_mean = active_tad.loc[:,5].mean() if len(active_tad.loc[:,5]) != 0 else 0
        _repress_mean = repress_tad.loc[:,5].mean() if len(repress_tad.loc[:,5]) != 0 else 0
        if _active_mean > _repress_mean:
            scores[0] += 1
        elif _active_mean < _repress_mean:
            scores[1] += 1
print(scores)

[17936, 11076]

In [8]:
nums = [0, 0]
for index in active_infos.index:
    if active_infos.loc[index, 5] > 0 or repress_infos.loc[index, 5] > 0:
        if active_infos.loc[index, 5] > repress_infos.loc[index, 5]:
            nums[0] += 1
        elif active_infos.loc[index, 5] < repress_infos.loc[index, 5]:
            nums[1] += 1
print(nums)

[791, 529]

In [9]:
[9146/791, 7310/529]

[11.562579013906447, 13.818525519848771]

In [10]:
[17936/791, 11076/529]

[22.675094816687736, 20.937618147448013]